<div class="grid grid-cols-6 gap-6">
  <!-- Stvarni početak radova -->
  <div class="col-span-6 sm:col-span-3">
    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Stvarni početak radova</label>
    <div class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white">
      <%= @sub_task.real_start_date %>
    </div>
  </div>

  <!-- Stvarni kraj radova -->
  <div class="col-span-6 sm:col-span-3">
    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Stvarni kraj radova</label>
    <div class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white">
      <%= @sub_task.real_end_date %>
    </div>
  </div>

  <!-- Stvarni troškovi aktivnosti -->
  <div class="col-span-6 sm:col-span-3">
    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Stvarni troškovi aktivnosti (#{@project.business.currency_symbol})</label>
    <div class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white">
      <%= @sub_task.real_cost %>
    </div>
  </div>
</div>


<% if @sub_task.real_auto_calculation%>

<%= render 'partials/table_expandable' %>

<% end%>