<%= turbo_stream.remove dom_id(@task) %>
<%= turbo_stream.after "tasks-frame" do %>
  <div id="trigger-refresh-gantt"></div>
  <script>
    document.dispatchEvent(new CustomEvent("refresh-gantt"))
  </script>
<% end %>

