<nav class="flex mb-5" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 text-sm font-medium md:space-x-2">
    <li class="inline-flex items-center">
      <%= link_to "Businesses", businesses_path, class: "inline-flex items-center text-gray-700 hover:text-primary-600 dark:text-gray-300 dark:hover:text-white" %>
    </li>
    <% if @current_business %>
      <li>
        <div class="flex items-center">
          <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a 1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
          </svg>
          <%= link_to @current_business.name, business_path(@current_business), class: "ml-1 text-gray-700 hover:text-primary-600 md:ml-2 dark:text-gray-300 dark:hover:text-white" %>
        </div>
      </li>
    <% end %>
    <% additional_crumbs&.each_with_index do |crumb, index| %>
      <li>
        <div class="flex items-center">
          <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
          </svg>
          <% if index == additional_crumbs.size - 1 %>
            <span class="ml-1 text-gray-400 md:ml-2 dark:text-gray-500" aria-current="page"><%= crumb[:name] %></span>
          <% else %>
            <%= link_to crumb[:name], crumb[:path], class: "ml-1 text-gray-700 hover:text-primary-600 md:ml-2 dark:text-gray-300 dark:hover:text-white" %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ol>
</nav>
