<% if notice.present? %>
  <p class="notice bg-green-100 text-green-700 px-4 py-2 rounded-lg"><%= notice %></p>
<% end %>
<% if alert.present? %>
  <p class="alert bg-red-100 text-red-700 px-4 py-2 rounded-lg"><%= alert %></p>
<% end %>
