<div class="overflow-x-auto">
  <table class="min-w-full bg-white dark:bg-gray-800">
    <thead class="bg-gray-100 dark:bg-gray-700">
      <%= yield :table_headers %>
    </thead>
    <tbody class="bg-white dark:bg-gray-800">
      <%= yield :table_body %>
    </tbody>
  </table>
</div>
