<%= render 'partials/header1', 
           title: "Projects", 
           model_name: "Projects",
           show_search: true,
           search_path: business_projects_path(@current_business), 
           new_path: new_business_project_path(@current_business),
           additional_crumbs: [] %>

<turbo-frame id="projects-frame">
  <div class="grid grid-cols-1 xl:grid-cols-3 xl:gap-4 dark:bg-gray-900">
    <% @projects.each do |project| %>
      <%= render partial: "partials/card", locals: { project: project } %>
    <% end %>
  </div>
</turbo-frame>
