<%# Subscribe to real-time projects updates %>
<%= turbo_stream_from "projects_#{current_business.id}" %>
<% has_projects = @business.projects.exists? %>

<%= render 'partials/header1', 
           title: t("breadcrums.projects_overview", name: current_business.name), 
           model_name: t('projects.form.model_name'),
           show_search: true,
           search_path: business_projects_path(@current_business), 
           frame_id: "projects-frame",
           new_path: new_business_project_path(@current_business),
           additional_crumbs: [] %>


<turbo-frame id="projects-frame">
  <% if @projects.any? %>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 dark:bg-gray-900">
  <% @projects.each do |project| %>
    <%= render partial: "partials/card", locals: { project: project } %>
  <% end %>
</div>

  <% else %>
    <div class="text-center py-12 px-4 bg-white dark:bg-gray-800 rounded-lg shadow-sm">
      <p class="text-gray-600 dark:text-gray-300 mb-4 text-lg pt-2">
        <%= has_projects ? t('projects.empty.no_search_results') : t('projects.empty.no_records') %>
      </p>
     
    </div>
  <% end %>
</turbo-frame>
